body{
    color: rgba(136, 134, 134, 0.459);
    background: rgb(20, 104, 143);
    
}

.texto{
    text-align: left;
    justify-content: last baseline;
    color: ivory;
}

.texto:hover{
    font-family: monospace;
    font-size: 12pt;
}

.par{
    position: absolute;
    top: 635px;
    left: 350px;
    padding-left: 20px;
    padding-top: 20px;
}

.botones{
    text-align: center;
    color: cornsilk;
    background: none;
    border-radius: 12px;
    cursor: pointer;
    z-index: 40;
}

.botones:hover{
    border:darkblue;
}

.contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor2{
    position: relative;
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.479);
}

.contenedor3{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.479);
}

.contenedorg{
    background:#0F0E0E;

}

.cont{
    padding-left: 20px;

}

#título{
    font-size: 45pt;
    text-align: center;
    font-family:monospace;
    color:cornsilk;
    z-index: 2;
    display: flex;
    position:relative;
}

body {
    font-family: sans-serif;
}